<!DOCTYPE HTML>
<html ng-app="moviesApp">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<!--  Mobile viewport scale | Disable user zooming as the layout is optimised -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>Home - MoviesApp</title>

		<!-- Browser color Android -->
		<meta name="theme-color" content="#222">

		<link rel="stylesheet" type="text/css" href="dist/css/moviesapp-pack.min.css">

		<link rel="apple-touch-icon" sizes="57x57" href="dist/img/favicons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="dist/img/favicons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="dist/img/favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="dist/img/favicons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="dist/img/favicons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="dist/img/favicons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="dist/img/favicons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="dist/img/favicons/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="dist/img/favicons/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" href="dist/img/favicons/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="dist/img/favicons/favicon-194x194.png" sizes="194x194">
		<link rel="icon" type="image/png" href="dist/img/favicons/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="dist/img/favicons/android-chrome-192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="dist/img/favicons/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="dist/img/favicons/manifest.json">
		<link rel="mask-icon" href="dist/img/favicons/safari-pinned-tab.svg" color="#000">
		<link rel="shortcut icon" href="dist/img/favicons/favicon.ico">
		<meta name="msapplication-TileColor" content="#000">
		<meta name="msapplication-TileImage" content="dist/img/favicons/mstile-144x144.png">
		<meta name="msapplication-config" content="dist/img/favicons/browserconfig.xml">

	</head>

	<body ng-controller="mainCtrl">

		<nav class="navbar navbar-inverse">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<a class="navbar-brand" href="/"><i class="fa fa-ticket"></i> MoviesApp</a>
				</div>
			</div>
			<!-- /.container-fluid -->
		</nav>

		<section class="container search-area">
			<div class="row">
				<form ng-submit="getMovies()">
					<div class="col-sm-6 col-md-3">
						<div class="form-group">
							<label for="search" class="sr-only">Search</label>
							<input ng-model="searchTerm" type="search" class="form-control" id="search" placeholder="Movie title..." required>
						</div>
					</div>
					<!-- /.col-xs-12 -->

					<div class="col-sm-6 col-md-2">
						<button type="submit" class="btn btn-primary btn-block">Search</button>
					</div>
					<!-- /.col-xs-12 -->
				</form>
			</div>
			<!-- /.row -->
		</section>
 

<section class="container search-results">
	<div ng-repeat="movie in movies track by $index" class="movie">
		<div class="row">
			<div class="col-xs-6 col-md-3">
				<img ng-hi class="img-responsive" ng-src="https://i0.wp.com/{{ movie.Poster | removeHTTP}}&strip=all" alt="{{ movie.Title }}">
			</div>
			<!-- /.col-xs-12 -->
			<div class="col-xs-6 col-md-3">
				<h4>{{ movie.Title }}</h4>
				<p>
					<strong>Year</strong> {{ movie.Year }}
				</p>
				<p>
					<a href="http://www.imdb.com/title/{{ movie.imdbID }}/" target="_blank">IMDB</a>
				</p>
			</div>
			<!-- /.col-xs-12 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- ng-repeat -->
</section>

 <footer class="bg-primary">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<a class="pull-left" href="https://www.ricardtorres.com/" target="_blank">Ricard Torres</a>
				<a class="pull-right" href="https://github.com/quicoto/movie-app" target="_blank"><i class="fa fa-github fa-2x"></i></a>
				<a class="pull-right" href="https://twitter.com/ricard_dev" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
			</div>
			<!-- /.col-xs-12 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</footer>

<script src="dist/js/moviesapp-pack.min.js"></script>

</body>
</html>

