{% set pageTitle = "Home" -%} {% include "includes/_head.html" %} {%raw%}

<section class="container search-results">

	<ul>
		<li ng-repeat="myMovie in myMovies | orderBy: 'Title'">
			{{ myMovie.Title }}
		</li>
	</ul>

	<div ng-repeat="movie in movies track by $index" class="movie">
		<div class="row">
			<div class="col-xs-6 col-md-3">
				<img ng-hide="movie.Poster === 'N/A'" class="img-responsive" ng-src="https://i0.wp.com/{{ movie.Poster | removeHTTP}}&strip=all" alt="{{ movie.Title }}">
			</div>
			<!-- /.col-xs-12 -->
			<div class="col-xs-6 col-md-3">
				<h4>{{ movie.Title }}</h4>
				<p>
					<strong>Year</strong> {{ movie.Year }}
				</p>
				<p>
					<a href="http://www.imdb.com/title/{{ movie.imdbID }}/" target="_blank">IMDB</a>
				</p>
				<p>
					<a class="btn btn-primary" ng-hide="movie.seen" ng-click="markSeen(movie)"><i class="fa fa-eye"></i> Add</a>

					<a class="btn btn-danger" ng-show="movie.seen" ng-click="removeSeen(movie)"><i class="fa fa-eye-slash"></i> Remove</a>
				</p>
			</div>
			<!-- /.col-xs-12 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- ng-repeat -->
</section>

{%endraw%} {% include "includes/_bottom.html" %}
