@import 'compass/css3';
@import 'vendor/bootstrap-3.3.6/bootstrap-variables';
@import 'colors';
@import 'tools';

body {
	height: 100%;
	overflow-y: scroll;
	padding-bottom: rem(7.1); // height of the footer
}
